:root {
  --col-primary-cream: #fffbf1;
  --col-primary-pink: #fc9686;
  --col-secondary-dark-pink: #eba192;
  --col-secondary-light-pink: #f5c0b6;
  --col-secondary-green: #98d504;
  --col-secondary-light-green: #b5ec33;
  --col-secondary-light-red: #e98b6f;
  --col-secondary-dark-red: #e04616;
  --col-text-dark-grey: #3d3d3d;
  --col-text-grey: #707070;
  --col-text-light-grey: #b8b8b8;
  --col-text-blue: #0167a1;
  --col-text-red: #e75e34;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  scrollbar-width: thin;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

p,
li,
a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "Pacifico", cursive;
}

h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}

.main {
  background-color: var(--col-primary-cream);
  height: 100vh;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--col-primary-cream);
}

.timerpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--col-primary-cream);
}

.header {
  background-color: #fffefd;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 100%;
}

.mobile-navbar {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.mobile-navbar .logo {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.mobile-navbar .app-name {
  flex: 1;
}

.hero-box {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.hero-box .greeting {
  color: var(--col-text-grey);
  font-size: 1.4rem;
}

.hero-box .user-name {
  color: var(--col-text-dark-grey);
  font-size: 1.9rem;
}

.hero-box__image {
  width: 350px;
  margin: 25px 0 30px 0px;
}

.hero-box__description {
  text-align: center;
  color: var(--col-text-grey);
  font-size: 0.9rem;
  width: 30ch;
  line-height: 1.5;
}

.hero-box__description .bold-text {
  color: var(--col-text-dark-grey);
  font-weight: 700;
}

.button {
  display: inline-block;
}

.button--basic {
  background-color: #fff;
  padding: 15px 65px;
  font-weight: 700;
  color: var(--col-primary-pink);
  border: 1px solid #e0e0e0;
  border-radius: 100px;
  margin-top: 30px;
}

.button--done {
  background-color: var(--col-secondary-green);
  color: #fff;
  padding: 7px 32px;
  border-radius: 100px;
  font-weight: 700;
  margin-top: 25px;
}

.button--done:hover, .button--done:active {
  background-color: var(--col-secondary-light-green);
}

.button--cancel {
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid var(--col-text-grey);
  color: var(--col-text-dark-grey);
  font-size: 0.8rem;
  margin-top: 20px;
}

.more-info {
  font-size: 0.6rem;
  margin-top: 40px;
  margin-bottom: 10px;
}

.more-info .link--green {
  color: var(--col-text-blue);
}

.current-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.current-task__heading {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.current-task__name {
  text-align: center;
  font-size: 0.9rem;
  color: var(--col-text-grey);
  width: 18ch;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.timer__value {
  font-family: "Rubik", sans-serif;
  color: var(--col-text-red);
  font-size: 4rem;
}

.timer__session {
  color: var(--col-text-grey);
}

.control-button {
  background-color: var(--col-text-red);
  background-image: linear-gradient(to bottom right, var(--col-secondary-light-red), var(--col-secondary-dark-red));
  display: flex;
  padding: 20px;
  border-radius: 100px;
}

.control-button__icon {
  margin: auto;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */