.main {
  background-color: var(--col-primary-cream);
  min-height: 100vh;

  padding-bottom: 10px;

  // for laptops
}
@media (min-width: 1200px) {
  .main {
    // width: 1160px;
    // margin: 40px auto;

    // border-radius: 15px;
    // box-shadow: var(--col-box-shadow);
  }
}
