body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

p,
li,
a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "Pacifico", cursive;
}

h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}
