body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

p,
li,
a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Pacifico", cursive;
}

h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}

.app-name {
  font-family: "Pacifico", cursive;
}

.task-section {
  h1 {
    font-family: "Lato", sans-serif;
  }
}

::placeholder {
  color: var(--col-text-light-grey);
  font-size: 0.8rem;
}

.task-create__form__description {
  font-family: "Lato", sans-serif;
}
