.button {
  display: inline-block;

  &--basic {
    background-color: #fff;
    padding: 15px 25px;
    font-weight: 700;
    color: var(--col-primary-pink);
    border: 1px solid #e0e0e0;
    border-radius: 100px;
    margin: 0 5px;
    margin-top: 30px;
  }

  &--done {
    background-color: var(--col-secondary-green);
    color: #fff;
    padding: 7px 32px;
    border-radius: 100px;
    font-weight: 700;
    margin-top: 25px;

    &:hover,
    &:active {
      background-color: var(--col-secondary-light-green);
    }
  }

  &--cancel {
    padding: 5px 10px;
    border-radius: 100px;
    border: 1px solid var(--col-text-grey);
    color: var(--col-text-dark-grey);
    font-size: 0.8rem;
    margin-top: 20px;
  }
}
