.header {
  background-color: #fffefd;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid var(--col-text-light-grey);

  display: flex;
  align-items: center;
}

.mobile-navbar {
  display: flex;
  align-items: center;

  width: 90%;
  margin: 0 auto;

  .logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }

  .app-name {
    flex: 1;
    h1 {
      display: inline-block;
    }
  }

  .hamburger-menu {
    &__icon {
      display: block;
    }
  }
}
