.header {
  background-color: #fffefd;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 100%;
  border-bottom: 1px solid var(--col-text-light-grey);
}

.mobile-navbar {
  display: flex;
  align-items: center;

  width: 90%;
  margin: 0 auto;

  .logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }

  .app-name {
    flex: 1;
  }
}
