.side-drawer {
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;

  background-color: var(--col-primary-white);
  height: 100%;
  width: 70%;

  padding: 25px 30px;

  transition: all 0.2s;

  &--open {
    transform: translateX(0);
  }

  &--close {
    transform: translateX(100%);
  }

  &__heading {
    font-family: "Roboto", sans-serif;
    color: var(--col-text-dark-grey);
    width: 100%;
  }

  &__list {
    margin-top: 10px;
    padding: 0px 0;
    border-bottom: 1px solid var(--col-border-grey);
    border-top: 1px solid var(--col-border-grey);

    width: 100%;

    &__item {
      margin: 25px 0;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      &__link {
        color: var(--col-text-grey);
        font-size: 1.1rem;
        margin-left: 7px;
        &:hover {
          color: var(--col-text-dark-grey);
        }

        &--active {
          color: var(--col-text-dark-grey);
          font-weight: 700;
        }
      }
    }
  }

  &__image {
    width: 200px;
    margin-left: -15px;
  }

  &__name {
    text-align: center;
  }

  .empty-space {
    flex: 1;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  transition: all 0.2s;

  &--open {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &--close {
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
  }
}
