:root {
  --col-primary-cream: #fffbf1;
  --col-primary-pink: #fc9686;

  --col-secondary-dark-pink: #eba192;
  --col-secondary-light-pink: #f5c0b6;
  --col-secondary-green: #98d504;

  --col-text-dark-grey: #3d3d3d;
  --col-text-grey: #707070;
  --col-text-light-grey: #b8b8b8;
  --col-text-blue: #0167a1;
}
