:root {
  --col-primary-cream: #fdf6e3;
  --col-primary-pink: #fc9686;
  --col-primary-light-pink: #f8aea3;
  --col-primary-dark-pink: #fa8370;
  --col-primary-white: #fffefd;

  --col-secondary-dark-pink: #eba192;
  --col-secondary-light-pink: #f5c0b6;
  --col-secondary-green: #98d504;
  --col-secondary-light-green: #b5ec33;

  --col-secondary-light-red: #e98b6f;
  --col-secondary-dark-red: #e04616;
  --col-secondary-yellow: #ffee01;

  --col-text-dark-grey: #3d3d3d;
  --col-text-grey: #707070;
  --col-text-light-grey: #b8b8b8;
  --col-text-blue: #0167a1;
  --col-text-red: #e75e34;

  --col-border-grey: #e6e6e6;
  --col-button-blue: #0851fc;

  --col-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
